.browse-files-button{
    border-radius:3px;
  padding:5px;
  color:purple;
}


.importButton{
  color:purple !important;
}



.defaultSettingsButton, .newNetworkButton{
  background: transparent !important;
}

.defaultSettingsButton{
  margin-top: 20px;
}
