.browse-files-button{
  border-radius: 3px;
  padding: 5px;
  color: #ffff00f0;
  font-weight: bold;
}


.importButton{
  color:purple !important;
}



.defaultSettingsButton, .newNetworkButton{
  background: transparent !important;
}

.defaultSettingsButton{
  border: 2px solid #ff000078 !important;
  color: #ff000078;
  font-weight: 800;
  font-size: 15px;
  font-family: Ubuntu, MONOSPACE;

}

.defaultSettingsButton:hover{
      background: #ff00002e !important;
}


.passwordDialog{
    padding: 20px;
    border-radius: 10px;
    text-align: center;
background: #2b2727bf;
}

.passwordHeader{
  color: #e5d56d;
    font-family: Ubuntu;
    font-size: 17px;
    text-align: center;
}


.signInButton{
  background: yellow;
  font-weight:bold;
  font-family: Ubuntu;
  color:blue;
  font-family: Ubuntu;
color: #256dff;
font-size: 16px;
    margin-top: 20px;
}

.mat-form-field-appearance-legacy .mat-hint {
    color: #ff3d71;
        font-family: Ubuntu;
}


.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    margin-left: 30px;
    margin-right: 30px;
  }


.sign-in-drop-zone{
  position: relative;
top: -15px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input{
  color:#598adb !important;font-size:18px !important;
  font-family: Ubuntu, MONOSPACE !important;
  background:transparent !important;
  -webkit-text-fill-color: #598adb;
  transition: background-color 5000s ease-in-out 0s !important;

}
