<div class="settingsScreen accountSettingsScreen" >

<div class="generalSettingsScreenHeader">Account Settings</div>

<div class="settingsSubContainer">
  <div class="settingsSubHeader" *ngIf="oldPasswordSet">
  Change Account Settings
  </div>
  <div class="settingsSubHeader" *ngIf="!oldPasswordSet">
  Claim Your Account!
    <div class="settingsSubHeaderInfo">
      Your account is currently encrypted with a random password, if you do not set a password you will lose access to this account when you close the app!
    </div>

  </div>
  <div fxLayout="column ">

    <mat-form-field style="width: 100%;margin-top: 20px;color:#598adb;font-size:18px;position:fixed;z-index:0;bottom:-200px;">
        <input matInput placeholder="Username"  fullWidth [(ngModel)]='username' id="username" autocomplete="username">
          <mat-hint *ngIf="username.length < 1">Enter your username</mat-hint>
    </mat-form-field>

    <mat-form-field style="width: 100%;margin-top: 20px;color:#598adb;font-size:18px" *ngIf="oldPasswordSet">
        <input matInput placeholder="Current Password" [type]="hide['oldPassword'] ? 'password' : 'text'" required fullWidth [(ngModel)]= "oldPassword" id="password" autocomplete="current-password">
          <mat-icon matSuffix (click)="hide['oldPassword'] = !hide['oldPassword']">{{hide['oldPassword'] ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="oldPassword.length < 1">Enter your current password</mat-hint>
    </mat-form-field>


    <mat-form-field style="width: 100%;margin-top: 20px;color:#598adb;font-size:18px;position:fixed;z-index:0;bottom:-200px;" *ngIf="!oldPasswordSet">
        <input matInput placeholder="Current Password"  fullWidth  id="password" autocomplete="current-password">
    </mat-form-field>


    <mat-form-field style="width: 100%;margin-top: 20px;color:#598adb;font-size:18px">
        <input matInput placeholder="New Password" [type]="hide['newPassword'] ? 'password' : 'text'" required fullWidth [(ngModel)]= "newPassword" autocomplete="new-password">
          <mat-icon matSuffix (click)="hide['newPassword'] = !hide['newPassword']">{{hide['newPassword'] ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="newPassword.length < 1">Enter your new password</mat-hint>
    </mat-form-field>

    <mat-form-field style="width: 100%;margin-top: 20px;color:#598adb;font-size:18px">
        <input matInput placeholder="Repeat New Password" [type]="hide['newPasswordRepeat'] ? 'password' : 'text'" required fullWidth [(ngModel)]= "newPasswordRepeat" autocomplete="new-password">
          <mat-icon matSuffix (click)="hide['newPasswordRepeat'] = !hide['newPasswordRepeat']">{{hide['newPasswordRepeat'] ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint *ngIf="newPasswordRepeat.length < 1">Repeat your password</mat-hint>
    </mat-form-field>


    <div class="error" *ngIf="error.length > 0">{{error}}</div>


    <button mat-stroked-button color="primary" (click)="changeOrSetPassword()" class="changePasswordButton" *ngIf="oldPasswordSet">Save</button>
    <button mat-stroked-button color="primary" (click)="changeOrSetPassword()" class="changePasswordButton" *ngIf="!oldPasswordSet">Claim Account</button>

  </div>



</div>

<div style="text-align:center;">
<button mat-stroked-button color="primary" (click)="q.os.signOut()" class="deleteAccountButton" *ngIf="oldPasswordSet">Delete Account From This Machine</button>
</div>

</div>
