


//
// .BuyCreditButton{
// color: #40de55eb;
// }
//
// //


.profileLayoutColumn{
  background: linear-gradient(-10deg, #1d1a38, #3a0e0e);
}

.centerButtonWrapper{
  position: fixed;
  bottom:3vh;
  left:0;
  right:0;
}


.centerButtonContainer{
  margin:auto;
}

.statusBarWrapper{
  position: fixed;
 bottom: 0;
 max-height: 28px;
 height: 28px;
     left: 0;
 right: 0;
 background-color: #2d2a2a;
 z-index: 20;
 font-size: 14px;
 color: grey;
 padding-left: 10px;
 padding-right: 10px;
 border-top: 1px solid black;
}

.statusBarRouterIcon{
 top: 4px;
margin: 0;
position: relative;
line-height: 10px;
font-size: 21px;
}

.statusBarRadioIcon{
  top: -5px;
margin: 0;
margin-left: 5px;
position: relative;
line-height: 9px;
font-size: 17px;
}


.web-top-links{
  position:fixed;right:13px;cursor:pointer;z-index: 20;top: 14px;
}
@media only screen and (max-width: 600px) {
  .web-top-links {
    display:none;
  }
}


.nav-tab{
  outline:0 !important;

}

.nav-active nb-icon,.navTab mat-icon {
border: 1px solid #e2d47014;
  border-radius: 5px;
  outline:0 !important;
  color: #c71e1ea8 !important;


}

nav{
    color: rgba(255,255,255,0.85);
    font-size:13pt !important;
    background-color: #fce055;
    background-image: linear-gradient(319deg, #fce055 0%, #256eff 37%, #46237a 100%);
        position: fixed;
        width: 100vw;
        z-index: 12;
        height: 48px;
}

.mat-tab-link{
  outline:0 !important;

}

.navTab nb-icon,.navTab mat-icon  {
  outline:0 !important;

    font-size: 33px;
    padding: 4px;
    margin-left: 10px;
    margin-top: 7px;
    background: transparent;
}
