
<!-- <div style="position:fixed;left:0px;top:0px;right:0px;bottom:0px;z-index:1000" *ngIf="screenLocked"></div> -->

<nb-layout>
  <nb-layout-column>
    <nav mat-tab-navbar #menuTabGroup dynamicHeight animationDuration="0ms" >

      <a mat-tab-link routerLink="/settings" [hidden]="!tabAccessibility['settingsTab']"  class="navTab settingsTab" [routerLinkActive]="['nav-active']"><nb-icon icon='settings-outline'></nb-icon></a>


      <a mat-tab-link routerLink="/signin" [hidden]="!tabAccessibility['signInTab']"  class="navTab signInTab" [routerLinkActive]="['nav-active']"><nb-icon icon='log-in-outline'></nb-icon></a>

      <a mat-tab-link routerLink="/messages" [hidden]="!tabAccessibility['channelTab']"  class="navTab channelTab" [routerLinkActive]="['nav-active']"><nb-icon icon='message-circle-outline'></nb-icon></a>


      <a mat-tab-link routerLink="/social" [hidden]="!tabAccessibility['channelTab']"  class="navTab profilesTab"  [routerLinkActive]="['nav-active']">
        <nb-icon icon='shake-outline'></nb-icon>
      </a>

      <a mat-tab-link routerLink="https://questnetwork.github.com/docs" [hidden]="!tabAccessibility['settingsTab']"  class="navTab settingsTab"  target="_blank" [routerLinkActive]="['nav-active']"><nb-icon icon='question-mark-outline' style="color: #46267e;"></nb-icon></a>


      <!-- <div  label="Sign In"  class="signInTab"
      </mat-tab>

      <mat-tab label="Messages"  class="channelTab" [disabled]="!tabAccessibility['channelTab']">
        </mat-tab>

        <mat-tab label="Social"  class="profilesTab" [disabled]="!tabAccessibility['channelTab']">
          </mat-tab>


        <mat-tab label="Settings"  class="settingsTab" [disabled]="!tabAccessibility['settingsTab']">
        </mat-tab> -->

      </nav>
      <div style="min-height:48px;height:48px;" class="nav-spacer">&nbsp;</div>
      <router-outlet></router-outlet>

      </nb-layout-column>
      </nb-layout>

      <app-load-hex></app-load-hex>

      <div class="statusBarWrapper" >
        <div style="float:left;padding-top: 3px;" *ngIf="swarmPeers > 0">
        Connected
      </div>
      <div style="float:left;padding-top: 3px;" *ngIf="swarmPeers < 1">
      Offline
      </div>
      <div style="float:right;padding-top: 4px;">
        <mat-icon class="statusBarRouterIcon">router</mat-icon>
        &nbsp;
        {{ swarmPeers }}
        &nbsp;
        <nb-icon  icon="radio-outline" class="statusBarRadioIcon"></nb-icon>
        &nbsp;
        {{ pubSubPeers }}
        &nbsp;
      </div>
      </div>

      <div class="web-top-links">
      </div>
